@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu

    <div class="content">
        <div>
            <h1>Menu</h1>
        
            <div class="menu-item">
                <h2>Combos</h2>
                @foreach (IMenuItem item in Model.Combos)
                {
                    CretaceousCombo combo = item as CretaceousCombo;


                    <h3>@combo.ToString()</h3>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>@combo.Price</td>
                            <td>@combo.Calories</td>
                        </tr>
                        @{ combo.Size = Size.Medium; }
                        <tr>
                            <td>Medium</td>
                            <td>@combo.Price</td>
                            <td>@combo.Calories</td>
                        </tr>
                        @{ combo.Size = Size.Large; }
                        <tr>
                            <td>Large</td>
                            <td>@combo.Price</td>
                            <td>@combo.Calories</td>
                        </tr>
                    </table>

                    <div>
                        Ingredients:
                        @for (int j = 0; j < @combo.Ingredients.Count; j++)
                        {
                            <div>@combo.Ingredients[j].ToString()</div>
                        }
                    </div>
                    <p>drink of combo: @combo.Drink</p>
                    <p>side of combo: @combo.Side</p>
                }

                <h2>Entrees</h2>
                @foreach (IMenuItem item in Model.Entrees)
                {
                    Entree entree = item as Entree;

                    <h3>@entree.ToString()</h3>

                    <div>Price: @entree.Price</div>
                    <div>Calories: @entree.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < @entree.Ingredients.Count; j++)
                        {
                            <div>@entree.Ingredients[j].ToString()</div>

                        }
                    </div>

                }

                <h2>Sides</h2>
                @foreach (IMenuItem item in Model.Sides)
                {
                    Side side = item as Side;

                    <h3>@side.ToString()</h3>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>@side.Price</td>
                            <td>@side.Calories</td>
                        </tr>
                        @{ side.Size = Size.Medium; }
                        <tr>
                            <td>Medium</td>
                            <td>@side.Price</td>
                            <td>@side.Calories</td>
                        </tr>
                        @{ side.Size = Size.Large; }
                        <tr>
                            <td>Large</td>
                            <td>@side.Price</td>
                            <td>@side.Calories</td>
                        </tr>
                    </table>
                    <div>Price: @side.Price</div>
                    <div>Calories: @side.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < @side.Ingredients.Count; j++)
                        {
                            <div>@side.Ingredients[j].ToString()</div>

                        }
                    </div>

                }

                <h2>Drinks</h2>
                @foreach (IMenuItem item in Model.Drinks)
                {
                    Drink drink = item as Drink;

                    <h3>@drink.ToString()</h3>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>@drink.Price</td>
                            <td>@drink.Calories</td>
                        </tr>
                        @{ drink.Size = Size.Medium; }
                        <tr>
                            <td>Medium</td>
                            <td>@drink.Price</td>
                            <td>@drink.Calories</td>
                        </tr>
                        @{ drink.Size = Size.Large; }
                        <tr>
                            <td>Large</td>
                            <td>@drink.Price</td>
                            <td>@drink.Calories</td>
                        </tr>
                    </table>
                    <div>Price: @drink.Price</div>
                    <div>Calories: @drink.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < @drink.Ingredients.Count; j++)
                        {
                            <div>@drink.Ingredients[j].ToString()</div>
                        }
                    </div>

                }
            </div>
        </div>

        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" id="searchAndFilter" value="Search and Filter" />

            <h4>Menu Category</h4>
            <div class="menu-category">
                <label>
                    <input type="checkbox" name="filters" value="Combo" checked="@Model.filters.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" name="filters" value="Entree" checked="@Model.filters.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" name="filters" value="Side" checked="@Model.filters.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input type="checkbox" name="filters" value="Drink" checked="@Model.filters.Contains("Drink")" />
                    Drink
                </label>

            </div>

            <h4>Price</h4>
            <div class="number">
                <label>
                    Min: <input type="number" min="0" max="12" id="minimum-price" name="minPrice" value="@Model.minPrice" />
                </label>
                <label>
                    Max: <input type="number" min="0" max="12" id="maximum-price" name="maxPrice" value="@Model.maxPrice" />
                </label>
            </div>

            <h4>Excluding Ingredients</h4>
            <div class="exclude-ingredient">
                @foreach (string ingredient in Model.Ingre)
                {
                    <label>
                        <input type="checkbox" name="ingredients" value="@ingredient.ToString()" checked="@Model.ingredients.Contains(ingredient.ToString())" />
                        @ingredient
                    </label>
                }

            </div>

        </form>

    </div>

