@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu

    <div class="content">
        <div>
            <h1>Menu</h1>
        
            <div class="menu-item">
                <h2>Combos</h2>
                @for (int i = 0; i < Model.Combos.Count; i++)
                {
                     CretaceousCombo combo = Model.Combos[i] as CretaceousCombo;
                                 

                    <h3>@combo.ToString()</h3>
                    <div>Price: @combo.Price</div>
                    <div>Calories: @combo.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < @combo.Ingredients.Count; j++)
                        {
                        <div>@combo.Ingredients[j].ToString()</div>
                        }
                    </div>
                    <p>drink of combo: @combo.Drink</p>
                    <p>side of combo: @combo.Side</p>
                }

                <h2>Entrees</h2>
                @for (int i = 0; i < Model.Entrees.Count; i++)
                {
                    Entree entree = Model.Entrees[i] as Entree;
                
                    <h3>@entree.ToString()</h3>
                    <div>Price: @entree.Price</div>
                    <div>Calories: @entree.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < @entree.Ingredients.Count; j++)
                        {
                            <div>@entree.Ingredients[j].ToString()</div>
                        }
                    </div>
                    
                }

                <h2>Sides</h2>
                @for (int i = 0; i < Model.Sides.Count; i++)
                {
                    Side side = Model.Sides[i] as Side;

                    <h3>@side.ToString()</h3>
                    <div>Price: @side.Price</div>
                    <div>Calories: @side.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < @side.Ingredients.Count; j++)
                        {
                            <div>@side.Ingredients[j].ToString()</div>
                        }
                    </div>
                    
                }

                <h2>Drinks</h2>
                @for (int i = 0; i < Model.Drinks.Count; i++)
                {
                    Drink drink = Model.Drinks[i] as Drink;

                    <h3>@drink.ToString()</h3>
                    <div>Price: @drink.Price</div>
                    <div>Calories: @drink.Calories</div>
                    <div>
                        Ingredients:
                        @for (int j = 0; j < Model.Drinks[i].Ingredients.Count; j++)
                        {
                        <div>@drink.Ingredients[j].ToString()</div>
                        }
                    </div>
                    
                }
            </div>
        </div>

        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" id="searchAndFilter" value="Search and Filter" />

            <h4>Menu Category</h4>
            <div class="menu-category">
                <label>
                    <input type="checkbox" name="filters" value="Combo" checked="@Model.filters.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" name="filters" value="Entree" checked="@Model.filters.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" name="filters" value="Side" checked="@Model.filters.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input type="checkbox" name="filters" value="Drink " checked="@Model.filters.Contains("Drink")" />
                    Drink
                </label>

            </div>

            <h4>Price</h4>
            <div class="number">
                <label>
                    Min: <input type="number" min="0" max="12" id="minimum-price" name="minPrice" value="@Model.minPrice" />
                </label>
                <label>
                    Max: <input type="number" min="0" max="12" id="maximum-price" name="maxPrice" value="@Model.maxPrice" />
                </label>
            </div>

            <h4>Excluding Ingredients</h4>
                <div class="exclude-ingredient">
                    <label>
                        <input type="checkbox" name="ingredients" value="Whole Wheat Bun" checked="@Model.ingredients.Contains("Bread")" />
                        Whole Wheat Bun
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Peppers" checked="@Model.ingredients.Contains("Peppers")" />
                        Peppers
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Onion" checked="@Model.ingredients.Contains("Onion")" />
                        Onion
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Chicken Nugget" checked="@Model.ingredients.Contains("Chicken Nugget")" />
                        Chicken Nugget
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Potato" checked="@Model.ingredients.Contains("Potato")" />
                        Potato
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Salt" checked="@Model.ingredients.Contains("Salt")" />
                        Salt
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Vegetable Oil" checked="@Model.ingredients.Contains("Vegetable Oil")" />
                        Vegetable Oil
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Macaroni Noodles" checked="@Model.ingredients.Contains("Macaroni Noodles")" />
                        Macaroni Noodles
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Pork Sausage" checked="@Model.ingredients.Contains("Pork Sausage")" />
                        Pork Sausage
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Breading" checked="@Model.ingredients.Contains("Breading")" />
                        Breading
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Bread" checked="@Model.ingredients.Contains("Bread")" />
                        Bread
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Peanut Butter" checked="@Model.ingredients.Contains("Peanut Butter")" />
                        Peanut Butter
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Jelly" checked="@Model.ingredients.Contains("Jelly")" />
                        Jelly
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Chicken" checked="@Model.ingredients.Contains("Chicken")" />
                        Chicken
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Wing Sauce" checked="@Model.ingredients.Contains("Wing Sauce")" />
                        Wing Sauce
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Natural Flvaors" checked="@Model.ingredients.Contains("Natural Flavors")" />
                        Natural Flvaors
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Cane Sugar" checked="@Model.ingredients.Contains("Cane Sugar")" />
                        Cane Sugar
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Coffee" checked="@Model.ingredients.Contains("Coffee")" />
                        Coffee
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Steakburger Pattie" checked="@Model.ingredients.Contains("Steakburger Pattie")" />
                        Steakburger Pattie
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Pickle" checked="@Model.ingredients.Contains("Pickle")" />
                        Pickle
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Ketchup" checked="@Model.ingredients.Contains("Ketchup")" />
                        Ketchup
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Mustard" checked="@Model.ingredients.Contains("Mustard")" />
                        Mustard
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Lettuce" checked="@Model.ingredients.Contains("Lettuce")" />
                        Lettuce
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Tomato" checked="@Model.ingredients.Contains("Tomato")" />
                        Tomato
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Mayo" checked="@Model.ingredients.Contains("Mayo")" />
                        Mayo
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Lemon" checked="@Model.ingredients.Contains("Lemon")" />
                        Lemon
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Tea" checked="@Model.ingredients.Contains("Tea")" />
                        Tea
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Flour Tortilla" checked="@Model.ingredients.Contains("Flour Tortilla")" />
                        Flour Tortilla
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Chicken Breast" checked="@Model.ingredients.Contains("Chicken Breast")" />
                        Chicken Breast
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Romaine Lettuce" checked="@Model.ingredients.Contains("Romaine Lettuce")" />
                        Romaine Lettuce
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Ceasar Dressing" checked="@Model.ingredients.Contains("Ceasar Dressing")" />
                        Ceasar Dressing
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Parmesan Cheese" checked="@Model.ingredients.Contains("Parmesan Cheese")" />
                        Parmesan Cheese
                    </label>
                    <label>
                        <input type="checkbox" name="ingredients" value="Water" checked="@Model.ingredients.Contains("Water")" />
                        Water
                    </label>
                </div>
        </form>

    </div>

